includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./phpstan-baseline.neon

parameters:

    paths:
        - src

    level: 9

    excludePaths:
        - tests/__snapshots__/*

